.App {
  text-align: center;
}

body{
  background: linear-gradient(40deg, #0053b3, #02b2df) no-repeat;
  text-align: center;
  color: white;
  height: 100vh;
}

a {
  color: #61dafb;
  font-weight: 800;
}

.form{
  display: absolute;
  align-content: center;
  align-items: center;
  border-radius: 40px;
  padding: 40px;
  width: 400px;
}


.form input{
  max-width: 350px; 
  text-align: center;
}

.form img{
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 20px;
}

